{%extends 'myapp/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="jumbotron m-5">
  <legend style=color:violet; align=center>Books</legend>
  <div class="col-md-9">
<table class="table table-bordered table-striped">
<thead style=background-color:orange;>
  <tr>
    <th>Cover</th>
<th>Title</th>
<th>Author</th>
<th>DownLoad</th>

</tr>
  </thead>
  {%for book in book%}
  <tr>
  <td><a href="{{book.cover.url}}"><img src="{{book.cover.url}}" width="130" height="150" alt="edit"></a></td>
  <td>{{book.title}}</td>
  <td>{{book.author}}</td>
  <td>
     <a href="{{book.pdf.url}}" class="btn btn-primary btn-sm" target="_blank">DownLoad PDF</a></td>
  </tr>

  {%endfor%}
  </table>
  </div>
  </div>
{%endblock%}
